<form id="newhook" method="post" action="#">
  Add a hook
  <select name="trigger">
    <option value="ByOwner">by owner</option>
    <option value="ByActor">by actor</option>
    <option value="ByOwnerRepo">by owner/repo</option>
  </select>
  <input type="hidden" name="type" value="hook" />
  Target: <input name="target" /><br/>
  Destination: <input name="url" size="40" /><br/>
  <fieldset id="hookevents">
    <legend>Events</legend>
    <label><input type="checkbox" name="events" value="CommitCommentEvent" />commit&nbsp;comment</label>
    <label><input type="checkbox" name="events" value="CreateEvent" />create</label>
    <label><input type="checkbox" name="events" value="DeleteEvent" />delete</label>
    <label><input type="checkbox" name="events" value="DownloadEvent" />download</label>
    <label><input type="checkbox" name="events" value="FollowEvent" />follow</label>
    <label><input type="checkbox" name="events" value="ForkEvent" />fork</label>
    <label><input type="checkbox" name="events" value="ForkApplyEvent" />apply</label>
    <label><input type="checkbox" name="events" value="GistEvent" />gist</label>
    <label><input type="checkbox" name="events" value="GollumEvent" />gollum</label>
    <label><input type="checkbox" name="events"
           value="IssueCommentEvent" />issue&nbsp;comment</label>
    <label><input type="checkbox" name="events" value="IssuesEvent" />issue</label>
    <label><input type="checkbox" name="events" value="MemberEvent" />member</label>
    <label><input type="checkbox" name="events" value="PublicEvent" />public</label>
    <label><input type="checkbox" name="events"
           value="PullRequestEvent" />pull&nbsp;request</label>
    <label><input type="checkbox" name="events"
           value="PullRequestReviewCommentEvent" />pull&nbsp;request&nbsp;review&nbsp;comments</label>
    <label><input type="checkbox" name="events" value="PushEvent" />push</label>
    <label><input type="checkbox" name="events" value="TeamAddEvent" />team&nbsp;add</label>
    <label><input type="checkbox" name="events" value="WatchEvent" />watch</label>
  </fieldset>
  <input type="submit" value="Add" />
</form>
